
*.o
*.d
*.so
*.root
*.xml
*.pcm
*.jdl
myTask*.sh
exe/*
result/*
*.log
*.lot
*.lof
*.toc
*.out
*.bib
*.aux
*.pdf
*.png
*.jpg
*.ps
*.eps
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
AnalysisNote*/
AnalysisJournal/